<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Networks</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Undernet</string>
			<key>Servers</key>
			<array>
				<dict>
					<key>Address</key>
					<string>amsterdam.nl.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>amsterdam2.nl.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>bucharest.ro.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>carouge.ch.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>ede.nl.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>elsene.be.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>geneva.ch.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>graz.at.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>graz2.at.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>helsinki.fi.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>leylstad.nl.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>lidingo.se.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>london.uk.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>london2.uk.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>milan.it.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>oslo1.no.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>oslo2.no.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>stockholm.se.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>surrey.uk.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>zagreb.hr.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>panamacity.pa.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>ashburn.va.us.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>fairfax.va.us.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>losangeles.ca.us.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>mesa.az.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>miami.fl.us.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>princeton.nj.us.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>sanjose.ca.us.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>sterling.va.us.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
			</array>
			<key>Type</key>
			<string>unet</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Efnet</string>
			<key>Servers</key>
			<array>
				<dict>
					<key>Address</key>
					<string>irc.ca.efnet.info</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.eu.efnet.info</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.us.efnet.info</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.efnet.info</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.inet.tele.dk</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.foxlink.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>efnet.xs4all.nl</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.homelien.no</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.efnet.nl</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.efnet.pl</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.avalonworks.ca</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.choopa.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.daxnet.no</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.blessed.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.dks.ca</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.blackened.com</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.nac.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.easynews.com</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>efnet.demon.co.uk</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.mzima.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.scnet.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.arcti.ca</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.du.se</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.wh.verio.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.desync.com</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.bantele.no</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.he.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.prison.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.umich.edu</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>efnet.cs.hut.fi</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.inter.net.il</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>efnet.ipv6.xs4all.nl</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.dkom.at</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.kagmir.ca</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.mindspring.com</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>efnet.aixit.de</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.dataphone.se</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>ircd.lagged.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.umn.edu</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc-efnet.svc.us.xo.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
			</array>
			<key>Type</key>
			<string>efnt</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>DALnet</string>
			<key>Servers</key>
			<array>
				<dict>
					<key>Address</key>
					<string>mozilla.se.eu.dal.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>powertech.no.eu.dal.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>slimey.uk.eu.dal.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>hotspeed.sg.as.dal.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>mesra.kl.my.dal.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>broadway.ny.us.dal.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>dragons.ca.us.dal.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>jade.va.us.dal.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>loyalty-r.ix.us.dal.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>masters.ix.us.dal.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>novel-r.fl.us.dal.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
			</array>
			<key>Type</key>
			<string>daln</string>
		</dict>
	</array>
</dict>
</plist>
