<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Networks</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Undernet</string>
			<key>Servers</key>
			<array>
				<dict>
					<key>Address</key>
					<string>amsterdam.nl.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>amsterdam2.nl.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>bucharest.ro.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>carouge.ch.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>ede.nl.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>elsene.be.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>geneva.ch.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>graz.at.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>graz2.at.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>helsinki.fi.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>leylstad.nl.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>lidingo.se.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>london.uk.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>london2.uk.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>milan.it.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>oslo1.no.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>oslo2.no.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>stockholm.se.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>surrey.uk.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>zagreb.hr.eu.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>panamacity.pa.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>ashburn.va.us.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>fairfax.va.us.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>losangeles.ca.us.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>mesa.az.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>miami.fl.us.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>princeton.nj.us.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>sanjose.ca.us.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>sterling.va.us.undernet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
			</array>
			<key>Type</key>
			<string>unet</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Efnet</string>
			<key>Servers</key>
			<array>
				<dict>
					<key>Address</key>
					<string>irc.ca.efnet.info</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.eu.efnet.info</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.us.efnet.info</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.efnet.info</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.inet.tele.dk</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.foxlink.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>efnet.xs4all.nl</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.homelien.no</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.efnet.nl</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.efnet.pl</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.avalonworks.ca</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.choopa.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.daxnet.no</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.blessed.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.dks.ca</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.blackened.com</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.nac.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.easynews.com</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>efnet.demon.co.uk</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.mzima.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.scnet.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.arcti.ca</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.du.se</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.wh.verio.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.desync.com</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.bantele.no</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.he.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.prison.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.umich.edu</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>efnet.cs.hut.fi</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.inter.net.il</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>efnet.ipv6.xs4all.nl</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.dkom.at</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.kagmir.ca</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.mindspring.com</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>efnet.aixit.de</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.dataphone.se</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>ircd.lagged.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.umn.edu</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc-efnet.svc.us.xo.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
			</array>
			<key>Type</key>
			<string>efnt</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>DALnet</string>
			<key>Servers</key>
			<array>
				<dict>
					<key>Address</key>
					<string>mozilla.se.eu.dal.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>powertech.no.eu.dal.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>slimey.uk.eu.dal.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>hotspeed.sg.as.dal.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>mesra.kl.my.dal.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>broadway.ny.us.dal.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>dragons.ca.us.dal.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>jade.va.us.dal.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>loyalty-r.ix.us.dal.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>masters.ix.us.dal.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>novel-r.fl.us.dal.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
			</array>
			<key>Type</key>
			<string>daln</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>AustNet</string>
			<key>Servers</key>
			<array>
				<dict>
					<key>Address</key>
					<string>bohica.tx.us.austnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>raving.ca.us.austnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>frankfurt.de.eu.austnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>pacific.sg.austnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>starhub.sg.austnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>pacific.nsw.au.austnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>netspace.vic.au.austnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>comcen.nsw.au.austnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>iinet.wa.au.austnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
			</array>
			<key>Type</key>
			<string>aust</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>SorceryNet</string>
			<key>Servers</key>
			<array>
				<dict>
					<key>Address</key>
					<string>irc.sorcery.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>astral.sorcery.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>cookie.sorcery.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>dereth.sorcery.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>iuturna.sorcery.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>kechara.sorcery.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>unholy.sorcery.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>webtv.sorcery.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
			</array>
			<key>Type</key>
			<string>sorc</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>ChatNet</string>
			<key>Servers</key>
			<array>
				<dict>
					<key>Address</key>
					<string>columbus.oh.us.chatnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>houston.tx.us.chatnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>powell.oh.us.chatnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>princeton.nj.us.chatnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>rome.it.eu.chatnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>washington.dc.us.chatnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
			</array>
			<key>Type</key>
			<string>chat</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>FEFNet</string>
			<key>Servers</key>
			<array>
				<dict>
					<key>Address</key>
					<string>ggn.fef.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>vendetta.fef.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>illusion.fef.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
			</array>
			<key>Type</key>
			<string>fefn</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>GalaxyNet</string>
			<key>Servers</key>
			<array>
				<dict>
					<key>Address</key>
					<string>boston.ma.us.galaxynet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>boston2.ma.us.galaxynet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>boston3.ma.us.galaxynet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>exodus.us.galaxynet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>lostworld.us.galaxynet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>odyssey.us.galaxynet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>relaychat.us.galaxynet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>xersion.us.galaxynet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>caen.fr.galaxynet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>ionip.nl.galaxynet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>online.be.galaxynet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>services.galaxynet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>infinity.sg.galaxynet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>pacific.sg.galaxynet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>pacific2.sg.galaxynet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>singapore.sg.galaxynet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>singnet.sg.galaxynet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>singnet2.sg.galaxynet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>singnet3.sg.galaxynet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>sydney.nsw.au.galaxynet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
			</array>
			<key>Type</key>
			<string>gala</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>NewNet</string>
			<key>Servers</key>
			<array>
				<dict>
					<key>Address</key>
					<string>irc.newnet.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.aohell.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.dividedspace.com</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.eskimo.com</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.noo.bz</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.unixbabes.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>eu.newnet.net</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>i.love.2ch.at</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>irc.moo.me.uk</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>newnet.ludd.luth.se</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
			</array>
			<key>Type</key>
			<string>newn</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>PTNet</string>
			<key>Servers</key>
			<array>
				<dict>
					<key>Address</key>
					<string>fctunl.ptnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>iol.ptnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>iscte.ptnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>isec.ptnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>isel.ptnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>isep.ptnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>ist.ptnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>madinfo.ptnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>netcabo.ptnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>netvisao.ptnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>novis.ptnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>oninet.ptnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>sapo.ptnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>simplesnet.ptnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>ua.ptnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>ualg.ptnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>ubi.ptnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>uc.ptnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>uevora.ptnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>utad.ptnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>vianetworks.ptnet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
			</array>
			<key>Type</key>
			<string>ptnt</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>XWorld</string>
			<key>Servers</key>
			<array>
				<dict>
					<key>Address</key>
					<string>irc.xworld.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>buffalo.ny.us.xworld.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>chicago.il.us.xworld.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>wollongong.nsw.au.xworld.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
			</array>
			<key>Type</key>
			<string>xwor</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Duh-Net</string>
			<key>Servers</key>
			<array>
				<dict>
					<key>Address</key>
					<string>irc.duh-net.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>brainless.duh-net.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>rexx.duh-net.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
				<dict>
					<key>Address</key>
					<string>putter.duh-net.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
			</array>
			<key>Type</key>
			<string>duhh</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>AfterNet</string>
			<key>Servers</key>
			<array>
				<dict>
					<key>Address</key>
					<string>irc.afternet.org</string>
					<key>Port</key>
					<integer>6667</integer>
				</dict>
			</array>
			<key>Type</key>
			<string>aftr</string>
		</dict>
	</array>
</dict>
</plist>
